<div class="container">
  <h2>ABOUT US</h2>
  <p>
    I was born in good ol’ Madison, Wisconsin.
    The son of a Librarian and a Researcher. We moved to Miami, FL in 1992 and experienced our
    first foray in the world of tropical weather: Hurricane Andrew. We survived that night,
    a sister was born that night, and I continued to grow, with tons of other stuff that happened.
    Many years later I attended the University of Florida, intent on studying biotechnology or something marine
    science-y. Instead, I swapped majors and graduated with a BFA in graphic design, because that’s what you do when you don’t want to do science and maths or learn no more.
    I continued to learn things though.
  </p>
</div>
